@font-face {
	font-family: 'RictyDiminished';
	src: url('./fonts/NotoSansCJKjp-Regular.otf') format('opentype');
}

* {
	font-family: 'RictyDiminished';
}

html, body, #container {
	margin: 0px;
	padding 0px;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(128,128,128,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(128,128,128,0.4);
}

div#editor_container {
	display: -webkit-box;
	height:100%;
}

/*------------------------------------------------
	toolbox
--------------------------------------------------*/
div#toolbox_container {
	width: 80px;
	height:100%;
	background: #dddddd;
}

/*------------------------------------------------
	inspector
--------------------------------------------------*/
div#inspector_container {
	padding: 4px;
	width: 300px;
	height:100%;
	background-color: #dddddd;
	overflow-y: scroll;
}

div#inspector_title {
	padding-bottom: 6px;
	font-size: 14pt;
	font-weight: bold;
	color: #666666;
}

div#table_container {
	background-color: #ffff88;
}

.properties_table_class {
	width:100%;
	border-collapse: separate;
	border-spacing: 0px;
	border-top: 4px solid #aaaaaa;
	border-left: 4px solid #aaaaaa;
	border-right: 4px solid #aaaaaa;
	border-bottom: 4px solid #aaaaaa;
}

.properties_table_class td {
	padding: 4px;
	background-color: #ffffff;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}

.properties_key {
	width : 120px;
}

/*------------------------------------------------
	canvas
--------------------------------------------------*/
#canvas_container {
	-webkit-box-flex: 1;
	height: 100%;
	background-color: #ffffff;
	overflow: hidden;
}

.grid_lines {
	stroke: #888888;
	stroke-width: 0.2;
}

/*------------------------------------------------
	dialogs
------------------------------------------------*/
#dialogs_overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width:   100%;
	height:  100%;
	z-index: 1;
	background-color: #000000;
	opacity: 0.5;
}

#settings_dialog_container{
	display: none;
	position: fixed;
	top:    10%;
	left:   10%;
    width:  80%;
    height: 80%;
	z-index: 2;
	background-color: #ffffff;
	opacity: 1.0;
	border-radius: 20px;
}

#settings_dialog {
	position: relative;
    margin: 20px 20px 20px 20px;
}

.settings_dialog_title {
	font-size: 32pt;
}

.properties_key {
	width : 120px;
}
